[submodule "CPOMDPs.jl"]
	path = CPOMDPs.jl
	url = https://github.com/sisl/CPOMDPs.jl
[submodule "CMCTS.jl"]
	path = CMCTS.jl
	url = https://github.com/sisl/CMCTS.jl
[submodule "CPOMCPOW.jl"]
	path = CPOMCPOW.jl
	url = https://github.com/sisl/CPOMCPOW.jl.git
[submodule "RoombaPOMDPs.jl"]
	path = RoombaPOMDPs.jl
	url = https://github.com/sisl/RoombaPOMDPs.jl.git
